* {
  // border: 1px solid greenyellow;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include flex-column-center;
  padding-bottom: 5px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: black;

  /* top */
  .header-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(87, 87, 87, 0.177);
    height: 100px;

    .header-logo {
      @include flex-center-center;
      flex-direction: column;
      margin: 10px;
      padding-left: 20px;

     

      .icon-logo {
        font-size: 2em;
      }

      .name-lawyer-in-logo {
        font-size: 2em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        // padding-top: 10px;
        // margin-left: 5px;
      }
    }

    .section-btn {
      display: flex;
      align-items: center;

      .header-contact-box {
        display: flex;
        gap: 1em;
        margin: 0.5em;

        .header-contact-mail {
          position: relative;
          @include flex-center-center;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          text-decoration: none;
          border: 1px solid rgba(128, 128, 128, 0.46);
          color: blue;
          font-size: 1em;
          font-family: "Open Sans", Sans-serif;
          transition: color 0.3s ease, border 0.3s ease, width 0.3s ease;

          overflow: hidden;
          // padding: 0 10px;

          .mail-icon,
          .tel-icon {
            font-size: 20px;
            transition: transform 0.3s ease, font-size 0.3s ease;
          }

          .email-text {
            opacity: 0;
            position: absolute;
            bottom: -30px;
            left: 0;
            right: 0;
            transition: opacity 0.3s ease, bottom 0.3s ease;
            text-align: center;
            padding: 5px 0;
            font-size: 0.9em;
          }
        }

        .header-contact-mail:hover {
          border-color: blue;
          width: 160px;
        }

        .header-contact-mail:hover .mail-icon,
        .header-contact-mail:hover .tel-icon {
          transform: translateY(-10px);
          font-size: 15px;
        }

        .header-contact-mail:hover .email-text {
          opacity: 1;
          bottom: 0;
        }

        .header-contact-t,
        .header-contact-w,
        .header-contact-vk {
          @include flex-center-center;
          border: 1px solid rgba(128, 128, 128, 0.46);
          border-radius: 10px;
          width: 50px;
          height: 50px;
          font-size: 1.5em;
          transition: color 0.3s ease, border-color 0.3s ease;

          .icon {
            padding: 14px;
            border-radius: 10px;
            transition: transform 0.3s ease;
          }
        }

        .header-contact-w {
          color: #075e54;
        }

        .header-contact-t {
          color: rgb(36, 161, 221);
        }

        .header-contact-vk {
          color: rgb(0, 81, 255);
        }

        .header-contact-t:hover,
        .header-contact-w:hover,
        .header-contact-vk:hover {
          border-color: rgb(2, 84, 2);

          .icon:hover {
            transform: translateY(-5px);
          }
        }
      }

      .btn-consultation {
        @include flex-center-center;

        background-color: transparent;
        margin: 0.1em 1em 0 0;
        width: 250px;
        height: 50px;
        font-family: "Open Sans", Sans-serif;
        border-radius: 50px;
        border: 1px solid rgba(128, 128, 128, 0.46);
        color: black;
        font-size: 1em;
        cursor: pointer;

        span {
          @include flex-center-center;
          border-radius: 50px;

          transition: transform 0.3s ease;
          width: 250px;
          height: 50px;
        }

        span:hover {
          transform: translateY(-5px);
        }
      }

      .btn-consultation:hover {
        border-color: rgb(2, 84, 2);
        color: blue;
      }
    }
  }

  /* top / bottom */
  .header-top,
  .header-bottom {
    width: 80%;
    margin: 5px 0;
  }
  // bottom
  .header-bottom {
    .navigation {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        font-size: 1em;

        li {
          position: relative;
          padding: 5px 0;
          border-radius: 5px;
          transition: background-color 0.3s ease;

          .link {
            text-decoration: none;
            color: black;
            font-family: "Open Sans", Sans-serif;
            padding: 5px 10px;
            position: relative;

            span {
              display: inline-block;
              transition: transform 0.3s ease, color 0.3s ease;
            }

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 0;
              height: 1px;
              background-color: rgb(123, 123, 123);
              transition: width 0.5s ease;
            }
            &:hover,
            &.active {
              &::after {
                width: 100%;
              }
            }
          }

          &:hover .link span {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}
