.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    position: relative;
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
  }
  
  .nav-item .dropdown {
    display: block;
    position: absolute;
    top: 100%; /* Под кнопкой */
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
  }
  
  .nav-item .dropdown li {
    padding: 10px 15px;
  }
  
  .nav-item .dropdown li a {
    text-decoration: none;
    color: black;
  }
  
  .nav-item .dropdown li a:hover {
    background-color: #f0f0f0;
  }
  