// * {
//   border: 1px solid greenyellow;
// }

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  // hero
  .hero {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 10em 0 15em;
    z-index: 1;
    position: relative;
    color: black;

    .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .hero-text-seсtion {
        padding-left: 20px;
      }

      .hero-title {
        font-size: 2em;
        margin: 1em 0 0.3em;
      }

      ul li {
        padding: 0.5em;
        margin: 0 1.5em;
      }

      .stats {
        display: flex;
        justify-content: space-between;
        border: 1px solid white;
        padding: 5px 15px;
        margin-bottom: 15px;
        border-radius: 3px;

        .stats-item {
          text-align: center;
          padding: auto 0;
        }

        .stats-icon {
          font-size: 1.5em;
          padding-right: 5px;
        }
      }
    }
    .img-block {
      @include center-flex;
      padding: 0 1em;
    }

    .img-block .hero-img {
      height: 450px;
    }
  }

  /* services */
  .services-block {
    width: 100%;
    background-color: white;
    border-radius: 50px 50px 0 0;
    margin: -4em 0 3em;
    padding: 3em 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    .block-title-sevices {
      @include center-flex-space-between;
      padding: 1em 0;
      width: 75%;
      border-bottom: 1px solid black;

      .p-icon {
        font-size: 1em;
        color: gray;
        font-style: italic;
      }

      .a-more-ser {
        text-decoration: none;
        background-color: rgba(128, 128, 128, 0.164);
        padding: 10px;
        border-radius: 15px;
        color: blue;
        font-size: 0.9em;

        /* icon arrow */
        .arrows-icon {
          font-size: 0.8em;
        }
      }
    }
    /* box */
  }

  /* text recomendation */
  .info-with-image {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8em 5em;
    margin: -4em 0 2em;
    background-color: rgb(231, 231, 231);
    border-radius: 70px 70px 0 0;
    position: relative;
    z-index: 2;

    .text-block {
      width: 50%;
      height: 100%;
      padding-left: 20px;

      h1 {
        padding-bottom: 5px;
        font-size: 2.5em;
        font-family: "Gilroy", Arial, sans-serif;
      }

      p {
        padding: 10px;
        text-indent: 30px;
        font-family: "Gilroy", Arial, sans-serif;
      }

      ul {
        margin-left: 4em;
        padding: 5px;

        li {
          padding: 5px;
          font-family: "Gilroy", Arial, sans-serif;
        }
      }
    }

    /* img */
    .img-block {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;

      .men-img {
        height: 700px;
        border-radius: 30px;
      }
    }
  }
}
