* {
  // border: 1px solid greenyellow;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // hero
  .hero {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 10em 0 15em;
    z-index: 1;
    position: relative;
    color: black;
    margin-top: 4em;

    .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .hero-text-seсtion {
        width: 80%;

        padding-left: 20px;
      }

      .hero-title {
        font-size: 3em;
        margin: 0 0 0.3em;
      }

      ul {
        list-style: none;
        padding-left: 20px;

        li {
          padding: 0.5em 1em;
          margin: 0 1em;
          position: relative;
        }

        li::before {
          content: "•";
          position: absolute;
          top: -5px;
          left: -5px;
          color: blue;
          font-size: 2em;
        }
      }

      .stats {
        display: flex;
        justify-content: space-between;
        border: 1px solid white;
        padding: 5px 50px;
        margin-bottom: 15px;

        .stats-item {
          text-align: center;
          padding: auto 0;
        }

        .stats-icon {
          font-size: 1.5em;
          padding-right: 5px;
          color: blue;
        }
      }
    }
    .img-block {
      @include center-flex;
      padding: 0 1em;
    }

    .img-block .hero-img {
      height: 450px;
    }

    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards;
  }

  /* Анимация появления */
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* services */
  .services-block {
    width: 100%;
    background-color: white;
    border-radius: 50px 50px 0 0;
    margin: -4em 0 0;
    padding: 3em 0 0;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    

    .block-title-sevices {
      @include center-flex-space-between;
      padding: 1em 0;
      width: 75%;
      border-bottom: 1px solid black;

      .p-icon {
        font-size: 1em;
        color: gray;
        font-style: italic;
      }

      .a-more-ser {
        width: 150px;
        height: 40px;
        text-decoration: none;
        border: 1px solid rgba(128, 128, 128, 0.438);
        border-radius: 10px;
        color: black;
        font-size: 0.9em;
        transition: color 0.3s ease, background-color 0.3s ease;
        padding: 10px;

        &:hover {
          border-color: blue;
          color: blue;

          span {
            transform: translateY(-5px);
          }
        }

        span {
          @include center-flex-space-between;
          transition: transform 0.3s ease;
        }

        /* icon arrow */
        .arrows-icon {
          font-size: 0.8em;
        }
      }
    }
    /* box */
  }

  /* text recomendation */
  .info-with-image {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8em 5em;
    margin: -4em 0 2em;
    background-color: rgba(231, 231, 231, 0.425);
    border-radius: 70px 70px 0 0;
    position: relative;
    z-index: 2;

    .text-block {
      width: 50%;
      height: 100%;
      padding-left: 20px;

      h1 {
        padding-bottom: 5px;
        font-size: 2.5em;
        font-family: "Gilroy", Arial, sans-serif;
        transition: opacity 1s ease, transform 0.8s ease;
      }

      p {
        padding: 10px;
        text-indent: 30px;
        font-family: "Gilroy", Arial, sans-serif;
        transition: opacity 1s ease, transform 0.8s ease;
      }

      section {
        transition: opacity 0.8s ease, transform 0.8s ease;
      }

      ul {
        margin-left: 4em;
        padding: 5px;

        li {
          padding: 5px;
          font-family: "Gilroy", Arial, sans-serif;
        }
      }
    }

    /* img */
    .img-block {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;

      .men-img {
        height: 700px;
        border-radius: 30px;
      }
    }
  }

  .hidden {
    opacity: 0; /* Элемент невидим */
    transform: translateY(100px); /* Сдвинут вниз */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }

  .visible {
    opacity: 1; /* Элемент видим */
    transform: translateY(0); /* На месте */
  }
}
